html {
    height: 100%;
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;

    background: #FAFAFA;
}

/* tudo relativo à barra de navegação*/
.navbar {
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px 114px;
    gap: 15px;

    position: fixed;
    height: 120px;
    left: 0%;
    right: 0%;
    top: 0px;

    background: rgba(255, 255, 255, 0.6);
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.04);
    border-radius: 0px;
}

#sorvete {
    display: flex;
    width: 180px;
    height: 150px;

    /* background: #FF9AC4; */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.searchfield {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    gap: 16px;

    width: 150px;
    height: 20%;
    padding-right: 200px;

    background: #FFFFFF;
    border: 0.5px solid rgba(96, 96, 96, 0.3);
    border-radius: 8px;

    flex: none;
    order: 1;
    flex-grow: 0;
}

#magnifyingglass {
    width: 20px;
    height: 20px;

    background: rgba(255, 255, 255, 0.6);

    flex: none;
    order: 0;
    flex-grow: 0;
}

.text {
    width: 398px;
    height: 24px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 0px;

    color: rgba(145, 145, 145, 0.6);

    flex: none;
    order: 1;
    flex-grow: 0;
}

/*relativo aos sorvetes e seus cards*/
.card {
    position: absolute;
    width: 300px;
    height: 200px;
    left: 154px;
    top: 29px;    
}

.minion {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 31px;

    position: absolute;
    width: 240px;
    height: 240px;
    left: 1086px;
    top: 561px;

    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.04);
    border-radius: 16px;
}

.morango {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 31px;
    
    position: absolute;
    width: 240px;
    height: 240px;
    left: 1086px;
    top: 269px;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.04);
    border-radius: 16px;
}

.chicabon {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 31px;

    position: absolute;
    width: 318px;
    height: 512px;
    left: 700px;
    top: 279px;

    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.04);
    border-radius: 16px;
}

.azul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 31px;
    
    position: absolute;
    width: 240px;
    height: 240px;
    left: 394px;
    top: 561px;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.04);
    border-radius: 16px;
}

.brigadeiro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 31px;
    
    position: absolute;
    width: 240px;
    height: 240px;
    left: 394px;
    top: 269px;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.04);
    border-radius: 16px;
}

.tablito {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 31px;
    
    position: absolute;
    width: 318px;
    height: 512px;
    left: 14px;
    top: 279px;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.04);
    border-radius: 16px;
}

.infos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    
    width: 270px;
    height: 87px;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.preços {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px;
    gap: 10px;
    
    width: 103px;
    height: 45px;
    
    background: rgba(249, 199, 191, 0.5);
    border-radius: 8px;
    
    /* Inside auto layout */
    
    flex: none;
    order: 2;
    flex-grow: 0;
}

.textnome {
    width: 270px;
    height: 39px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 39px;
    /* identical to box height */
    
    
    color: #292929;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.textdesc {
    width: 270px;
    height: 40px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 20px;
    
    color: #606060;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
}

.textpreço {
    width: 95px;
    height: 29px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 5px;
    
    color: #000000;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
}

/*relativo ao footer e seus componentes*/
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 48px 114px;
    gap: 292px;

    position: relative;
    min-width: 1400px;
    max-width: 100%;
    height: 15%;
    left: 0%;
    right: 0%;
    bottom: 0px;
    top: 950px;

    background: #F2F2F2;
}

.frame1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 15px;
    
    width: 253px;
    height: 35px;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
}

.linkedin {
    width: 35px;
    height: 35px;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
}

.facebook {
    width: 35px;
    height: 35px;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
}

.twitter {
    width: 35px;
    height: 35px;
    
    /* Inside auto layout */
    
    flex: none;
    order: 2;
    flex-grow: 0;
}

.frame2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 16px;
    
    width: 60px;
    height: 59.02px;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
}

.sorvetefooter {
    display: flex;
    width: 100px;
    height: 95px;

    /*background: #FF9AC4;*/

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.textfooter {
    width: 253px;
    height: 17px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 17px;
    /* identical to box height */
    
    
    color: #707070;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 2;
    flex-grow: 0;
}

/* MOBILE */
@media (max-width: 700px) {
    html {
        height: 100%;
        min-height: 100%;
        width: 50%;
    }

    body {
    display: flex;
    position: relative;
    width: 390px;
    height: 920px;

    background: #FAFAFA;
    }

    /* alterações navbar*/
    .searchfield {

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    gap: 16px;

    width: 36px;
    height: 18%;
    padding-right: 0px;

    background: #FFFFFF;
    border: 0.5px solid rgba(96, 96, 96, 0.3);
    border-radius: 8px;

    flex: none;
    order: 1;
    flex-grow: 0;
    }

    .text {
        display: none;
    }

    .card {
        position: relative;
        width: 100px;
        height: 200px;
        left: 14px;
        top: 159px;    
    }

    /*alterações cards sorvetes*/
    .minion {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 24px;
        gap: 31px;

        position: relative;
        width: 240px;
        height: 240px;
        left: 116px;
        top: 1138px;

        background: #FFFFFF;
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.04);
        border-radius: 16px;
    }

    .morango {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 24px;
        gap: 31px;
        
        position: relative;
        width: 240px;
        height: 240px;
        left: 116px;
        top: 554px;
        
        background: #FFFFFF;
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.04);
        border-radius: 16px;
    }

    .chicabon {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 24px;
        gap: 31px;

        position: relative;
        width: 318px;
        height: 512px;
        left: 430px;
        top: 289px;

        background: #FFFFFF;
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.04);
        border-radius: 16px;
    }

    .azul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 24px;
        gap: 31px;
        
        position: absolute;
        width: 240px;
        height: 240px;
        left: 504px;
        top: 556px;
        
        background: #FFFFFF;
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.04);
        border-radius: 16px;
    }

    .brigadeiro {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 24px;
        gap: 31px;
        
        position: absolute;
        width: 240px;
        height: 240px;
        left: 504px;
        top: 259px;
        
        background: #FFFFFF;
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.04);
        border-radius: 16px;
    }

    .tablito {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 24px;
        gap: 31px;
        
        position: absolute;
        width: 318px;
        height: 512px;
        left: 114px;
        top: 259px;
        
        background: #FFFFFF;
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.04);
        border-radius: 16px;
    }

    /*alterações footer*/
    footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px;
    gap: 24px;

    position: static;
    min-width: 800px;
    height: 128px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin-top: 1500px;

    background: #F2F2F2;
    }

    .frame1 {
        display: flex;
        position: absolute;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: 15px;
        padding-left: 85px;
        margin-top: 0px;
        
        width: 253px;
        height: 35px;
        
        
        /* Inside auto layout */
        
        flex: none;
        order: 0;
        flex-grow: 0;
    }

    .sorvetefooter {
        display: none;
    }

    .textfooter {
        position: relative;
        margin-bottom: 0px;
        width: 253px;
        height: -100px;

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 0px;
        /* identical to box height */
        
        
        color: #707070;
        
        
        /* Inside auto layout */
        
        flex: none;
        order: 2;
        flex-grow: 0;
    }
}